.mainKey{
    display: flex;
    justify-content: space-evenly;
    
    position: relative;

    &::after{
        content: '';
        position: absolute;
        bottom: -15px;
        width: 41%;
        height: 1px;
        background-color: rgba(7, 34, 65, 0.705);
    }

    .FCG{
        display: flex;
        align-items: center;
        column-gap: 15px;
        user-select: none;
        cursor: pointer;

        & input{
            width: 30px;
            height: 30px;
        }
        & p{
            width: 150px;
        }
    }

    .mainImg:hover{
        filter: brightness(0.5) sepia(1) saturate(5) hue-rotate(-50deg);
        cursor: pointer;
    }

    .lineThrough{
        text-decoration: line-through red 3px;
    }
}
.btn{
    position: fixed;
    right: 20%;
    bottom: 10%;

    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(116, 175, 243, 0.705);
    cursor: pointer;
    border: none;

    &:active{
        background-color: rgb(116, 175, 243);
    }
}
.mainModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 128px;
    text-align: center;
    height: auto;
    width: 450px;

    .inp{
        border: 1px solid;
        border-radius: 5px;
        padding: 7px 15px;
    }

    & div:first-child{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        & input{
            border: 1px solid;
            border-radius: 5px;
            padding: 7px 15px;
        }
    }

    & div:nth-child(2){
        display: flex;
        width: 100%;
        justify-content: space-between;

        & button{
            padding: 5px 25px;
            border-radius: 5px;
            border: 1px solid rgb(108, 99, 255);
            cursor: pointer;
        }

        & button:first-child{
            background: transparent;
            color: rgb(108, 99, 255);
            
            &:hover{
                background-color: rgba(107, 99, 255, 0.185);
            }
        }

        & button:nth-child(2){
            background: rgb(108, 99, 255);

            &:hover{
                background-color: rgba(107, 99, 255, 0.534);
            }
        }
    }
}

@media screen and (max-width: 1020px){
    .mainModal{
        width: 350px;
    }   
}
@media screen and (max-width: 768px){
    .mainModal{
        width: 350px;
    }
}
@media screen and (max-width: 540px){
    .mainModal{
        width: 300px;

        div:nth-child(2){
            display: flex;
            flex-direction: column;
            width: 100%;
            row-gap: 15px;
        }
    }
}
@media screen and (max-width: 378px) {
    .mainModal{
        width: 200px;
        .inp{
            width: 100%;
        }
    }
    .btn{
        position:fixed;
        right: 5%;
        bottom: 10%;
    }
}