.mainKey{
    display: flex;
    justify-content: space-evenly;

    .FCG{
        display: flex;
        align-items: center;
        column-gap: 15px;
        user-select: none;
        cursor: pointer;

        & input{
            width: 30px;
            height: 30px;
        }
    }

    .mainImg:hover{
        filter: brightness(0.5) sepia(1) saturate(5) hue-rotate(-50deg);
        cursor: pointer;
    }

    .lineThrough{
        text-decoration: line-through red 3px;
    }
}