.mainKey{
    display: flex;
    justify-content: space-evenly;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        bottom: -15px;
        width: 41%;
        height: 1px;
        background-color: rgba(7, 34, 65, 0.705);
    }

    .FCG{
        display: flex;
        align-items: center;
        column-gap: 15px;
        user-select: none;
        cursor: pointer;

        & input{
            width: 30px;
            height: 30px;
        }
    }

    .mainImg:hover{
        filter: brightness(0.5) sepia(1) saturate(5) hue-rotate(-50deg);
        cursor: pointer;
    }

    .lineThrough{
        text-decoration: line-through red 3px;
    }
}
.btn{
    position: absolute;
    right: 30%;
    bottom: 10%;

    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(116, 175, 243, 0.705);
    cursor: pointer;
    border: none;

    &:active{
        background-color: rgb(116, 175, 243);
    }
}